/* =================== OPINIONES / CONTACTO =================== */
.opinion .row {
  display: flex;
  padding-bottom: 3rem;
  flex-wrap: wrap;
}

.opinion .row .mapa,
.opinion .row .form {
  flex: 1 1 40rem;
}

.opinion .row .form .iconos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.opinion .row .form .iconos-container .iconos {
  flex: 1 1 17rem;
  text-align: center;
}

.opinion .row .form .iconos-container .iconos i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background: #ff0000;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.opinion .row .form .iconos-container .iconos h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
}

.opinion .row .form .iconos-container .iconos p {
  font-size: 1.5rem;
  line-height: 2;
  color: #fff;
}

.opinion .row .form form {
  text-align: center;
}

/* Unifica inputs, selects y textarea */
.opinion .row .form form .cajas,
.opinion .row .form form select {
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  background: none;
  border: 0.2rem solid #ff0000;
  text-transform: none;
  width: 100%;
  margin: .7rem 0;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s;
}

.opinion .row .form form .cajas:focus,
.opinion .row .form form select:focus {
  border-color: #2087cc;
}

/* Personalización del select */
.opinion .row .form form select,
.opinion .row .form form select option {
  background-color: #111;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Placeholder color */
.opinion .row .form form .cajas::placeholder {
  color: #ccc;
  opacity: 1;
}

/* Textarea específico */
.opinion .row .form form textarea.cajas {
  height: 10rem;
  resize: none;
}

/* Botón de envío */
.opinion .row .form form .btn {
  display: block;
  margin: 2rem auto 1rem auto;
  cursor: pointer;
  color: #fff;
  border: 0.2rem solid #ff0000;
  background: transparent;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  border-radius: 4px;
  transition: all 0.2s;
  width: fit-content;
}

.opinion .row .form form .btn:hover {
  color: #000;
  background: #fff;
  border: 0.2rem solid #ff0000;
}

/* Quita flechas de input[type=number] */
.opinion .row .form form input[type="number"].cajas {
  -moz-appearance: textfield;
}

.opinion .row .form form input[type="number"].cajas::-webkit-inner-spin-button,
.opinion .row .form form input[type="number"].cajas::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Reduce la separación bajo el banner */
.home {
  margin-bottom: 1rem;   
}

/* Sube un poco el formulario */
.opinion .form {
  margin-top: -5rem;     
  
}

/* Si tu .opinion tiene padding, puedes ajustarlo también */
.opinion {
  padding-top: 1rem; 
}
