<!--<section class="menu" id="menu">
        <div class="heading" id="separador">
            <img src="./images/titulo-encabezado.png" alt="encabezado">
            <h3>Nuestro menu</h3>
        </div>

        <div class="caja-container">
            <div class="cajas"data-aos="fade-up" data-aos-delay="350">
                <img src="./images/producto-1.png" alt="">
                <div class="contenido">
                    <div class="estrellas">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Hamburguesa doble con queso</h3>
                    <div class="precio">600.00$</div>
                    <a href="#" class="btn">Agregar al carrito</a>
                </div>
            </div>

            <div class="cajas"data-aos="fade-up" data-aos-delay="600">
                <img src="./images/producto-2.png" alt="">
                <div class="contenido">                   
                    <h3>Hamburguesa big</h3>
                    <div class="precio">700.00$</div>
                    <a href="#" class="btn">Agregar al carrito</a>
                </div>
            </div>

            <div class="cajas"data-aos="fade-up" data-aos-delay="900">
                <img src="./images/producto-3.png" alt="">
                <div class="contenido">          
                    <h3>Hamburguesa de pollo</h3>
                    <div class="precio">500.00$</div>
                    <a href="#" class="btn">Agregar al carrito</a>
                </div>
            </div>

            <div class="cajas" data-aos="fade-up" data-aos-delay="350">
                <img src="./images/producto-4.png" alt="">
                <div class="contenido">                  
                    <h3>Pizza comun</h3>
                    <div class="precio">500.00$</div>
                    <a href="#" class="btn">Agregar al carrito</a>
                </div>
            </div>

            <div class="cajas" data-aos="fade-up" data-aos-delay="600">
                <img src="./images/producto-5.png" alt="">
                <div class="contenido">                  
                    <h3>Pizza con anchoas</h3>
                    <div class="precio">650.00$</div>
                    <a href="#" class="btn">Agregar al carrito</a>
                </div>
            </div>

            <div class="cajas" data-aos="fade-up" data-aos-delay="900">
                <img src="./images/producto-6.png" alt="">
                <div class="contenido">                    
                    <h3>Pizza a la calabresa</h3>
                    <div class="precio">600.00$</div>
                    <a href="#" class="btn">Agregar al carrito</a>
                </div>
            </div>

            <div class="cajas" data-aos="fade-up" data-aos-delay="350">
                <img src="./images/producto-7.png" alt="">
                <div class="contenido">                  
                    <h3>papas comunes</h3>
                    <div class="precio">300.00$</div>
                    <a href="#" class="btn">Agregar al carrito</a>
                </div>
            </div>

            <div class="cajas" data-aos="fade-up" data-aos-delay="900">
                <img src="./images/producto-9.png" alt="">
                <div class="contenido">
                    <h3>papas con queso y carne</h3>
                    <div class="precio">600.00$</div>
                    <a href="#" class="btn">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </section>-->