<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="images/logo.png">
</head>

<body>
    <header class="sitio-header">
        <div id="menu-btn" class="fas fa-bars icono"></div>
        <!--<div id="search-btn" class="fas fa-search icono"></div>-->
        <span></span><!--Espacio-->
        <a href="index.php" class="logo"><img src="images/logo.png"></a>

        <!--Barra principal de menu-->
       <nav class="navbar">
            <a href="index.php">Inicio</a>
            <a href="menu.php">Menu</a>
            <a href="index.php">Acerca de</a>
            <a href="index.php">Ubicacion</a>
            <a href="blog.php">Blog</a>
            <a href="opinion.php">Opiniones</a>
        </nav> 

        <!--Iconos de redes sociales-->
        <div class="iconosSuperior">
            <a href="https://wa.me/56979592806" class="fab fa-whatsapp icono"></a>
            <a href="https://www.instagram.com/el_rincon_de_los_4_diablitos/" class="fab fa-instagram icono"></a>
        </div>
    </header>
    
    <!-- Seccion de opiniones -->
    <section class="opinion" id="opinion">
        <div class="heading" id="separador">
            
            <h3>Opiniones</h3>
        </div>

        <div class="row">
            <div class="form">
                <div class="iconos-container">
                    <div class="iconos" data-aos="fade-up" data-aos-delay="150">
                        <a href="https://maps.app.goo.gl/8NvsjcprEHpqshRaA" target="_blank" rel="noopener noreferrer"><i class="fas fa-map"></i></a>
                        <h3>Como llegar</h3>
                        <p>Esmeralda 6367, Penalolen</p>
                    </div>

                    <div class="iconos" data-aos="fade-up" data-aos-delay="300">
                        <a href="https://www.instagram.com/el_rincon_de_los_4_diablitos/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        <h3>Instagram</h3>
                        <p>@el_rincon_de_los_4_diablitos</p>
                    </div>

                    <div class="iconos" data-aos="fade-up" data-aos-delay="450">
                        <a href="https://wa.me/56979592806" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
                        <h3>Whatsapp</h3>
                        <p>+569 79592806</p>
                    </div>
                </div>
            
                <form action="php/contacto.php" method="POST" >
                    <input data-aos="fade-up" data-aos-delay="150" type="text" name="nombre" placeholder="Nombre completo" class="cajas" required>
                    <input data-aos="fade-up" data-aos-delay="300" type="email" name="email" placeholder="Correo electronico" class="cajas" required>
                    <input data-aos="fade-up" data-aos-delay="450" type="number" name="telefono" placeholder="Telefono" class="cajas" required>
                    <textarea data-aos="fade-up" data-aos-delay="600" name="mensaje" placeholder="Escriba un mensaje" class="cajas" cols="30" rows="10" required></textarea>
                    <input data-aos="fade-up" data-aos-delay="750" type="submit" value="Enviar mensaje" class="btn">
                </form>
            </div>
        </div>
    </section>



    <!--Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="js/script.js"></script>
</body>
</html>

